<h3>Vehículo</h3>
<button [routerLink]="['/vehiculos']" class="btn btn-outline-danger">Ver lista de vehículos</button>
<button type="button" (click)="nuevoVehiculo()" class="btn btn-outline-success">Nuevo Vehículo</button>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form [formGroup]="formulario" (ngSubmit)="registrarVehiculo()" novalidate="novalidate">

      <div class="form-group" [ngClass]="{'has-danger': formulario.get('placa').invalid && formulario.get('placa').dirty}">
        <label>Placa</label>
        <input [(ngModel)]="vehiculo.placa" type="text" name="nombre" class="form-control" placeholder="Placa del vehículo" formControlName="placa">
        <div *ngIf="formulario.controls['placa'].errors?.required && formulario.controls['placa'].dirty" class="form-control-feedback">
          La placa es requerida
        </div>
        <div *ngIf="formulario.controls['placa'].errors?.pattern && formulario.controls['placa'].dirty" class="form-control-feedback">
          La placa debe ser alfanúmerica
        </div>
        <div *ngIf="formulario.controls['placa'].errors?.minlength && formulario.controls['placa'].dirty" class="form-control-feedback">
          La placa debe poseer por lo menos 6 caracteres
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-danger': formulario.get('cilindraje').invalid && formulario.get('cilindraje').dirty}">
        <label>Cilindraje</label>
        <input [(ngModel)]="vehiculo.cilindraje" type="text" name="nombre" class="form-control" placeholder="Cilindraje del vehículo" formControlName="cilindraje">
        <div *ngIf="formulario.controls['cilindraje'].errors?.required && formulario.controls['cilindraje'].dirty" class="form-control-feedback">
          El cilindraje es requerido
        </div>
        <div *ngIf="formulario.controls['cilindraje'].errors?.pattern && formulario.controls['placa'].dirty" class="form-control-feedback">
          El cilindraje es un dato númerico entero
        </div>
        <div *ngIf="formulario.controls['cilindraje'].errors?.maxlength && formulario.controls['placa'].dirty" class="form-control-feedback">
          El cilindraje no debería ser mayor a 99999
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-danger': formulario.get('tipoVehiculo').invalid && formulario.get('tipoVehiculo').dirty}">
        <label>Tipo de vehículo</label>
        <select [(ngModel)]="vehiculo.tipoVehiculo" class="form-control" name="tipoVehiculo" formControlName="tipoVehiculo">
          <option value="Carro">Carro</option>
          <option value="Moto">Moto</option>
        </select>
        <div *ngIf="formulario.controls['tipoVehiculo'].errors?.required && formulario.controls['tipoVehiculo'].dirty" class="form-control-feedback">
          El tipo del vehiculo es requerido
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="!formulario.valid" type="submit" class="btn btn-outline-primary">
          Registrar
        </button>
      </div>

    </form>
  </div>

</div>
