<h1 mat-dialog-title style="text-align: center"> Factura </h1>
<mat-dialog-content>
  <div class="form-group row">
    <label for="" class="form-control">Placa: {{vehiculoSalida?.placa}}</label>
    <label for="" class="form-control">Cilindraje: {{vehiculoSalida?.cilindraje}}</label>
    <label for="" class="form-control">Tipo de vehículo: {{vehiculoSalida?.tipoVehiculo}}</label>
    <label for="" class="form-control">Valor total a cancelar: {{vehiculoSalida?.valorAPagar}}</label>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="text-align: center">
  <button  mat-dialog-close class="btn btn-primary" tabindex="1">Aceptar</button>
</mat-dialog-actions>
